.c-cursor {
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;

    transition: all 150ms ease;
    transition-property: opacity, background-color, transform, mix-blend-mode;

    &--hidden {
        opacity: 0;
    }

    &--clicked {
        transform: translate(-50%, -50%) scale(3);
        background-color: #ffffff;
    }

    &--link-hovered {
        transform: translate(-50%, -50%) scale(6);
        background-color: #ffffff;
        mix-blend-mode: difference;
    }

    a {
        text-decoration: underline;
        color: #ffffff;
    }
}

html,
body {
    //cursor: none;
    background-color: #ffffff;
}
